body {
	background: -moz-radial-gradient( #444, #111);
	background: -webkit-radial-gradient(#444, #111);
	background: -o-radial-gradient(#444, #111);
	background: -moz-radial-gradient(#444, #111);
	background: radial-gradient(#444, #111);
	padding-top: 70px;
}
.navbar-custom {
	background-color: rgba(0,233,255,0.5);
}
a {
	color: #FFF;
}
video {
	width: 80%;
	height: auto;
}
p {
	font-family: "WenQuanYi Micro Hei", "Arial Unicode MS", "Microsoft JhengHei";
	font-size: 1.2em;
	color: #16F1F5;
	text-shadow: 0px 0px 6px #16F1F5;
	text-indent: 2em;
	line-height: 1.5em;
}
section, video {
	margin: 0 10% 0 10%;
	width: 80%;
	height: auto;
}
.well {
	background-color: #222;
	border: 0px;
}
.map {

}
